<div id="header">
    <img src="/img/logo.svg" alt="Logo do Discoderia">
    <h2>Ei, Turista</h2>
    <a href="/home" id="login-button" style="text-decoration: none">
        <span>Voltar ao painel</span>
    </a>
</div>

<div id="container2">
    <div class="text-container">
        <h1>{{atraction.name}}</h1>
        <p>{{atraction.description}}</p>
        <p>Em: <b>{{atraction.address}}</b></p>
        <p>Quando: <b>{{atraction.schedule}}</b></p>
    </div>

{{!--     <img id="atraction-img" src="{{atraction.imageURL}}" alt="">
 --}}</div>